In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("netflix_data.csv")

# QUESTION 1

In [3]:
def set_cast(val):    
    if val is None:
        return 0
    if val == 'None':
        return 0
    if val == '':
        return 0
    return len(val.split(", "))

In [4]:
data["num_of_cast"] = data["cast"]

In [5]:
data= data[data["num_of_cast"].notnull()]
data["num_of_cast"].apply(set_cast)

0       11
1        6
2        9
3        9
4       12
        ..
7781     9
7782     7
7783     8
7784     1
7785     2
Name: num_of_cast, Length: 7069, dtype: int64

# QUESTUION 2

In [6]:
data.groupby("genre")["type"].value_counts()

genre                 type
Action                Movie       715
Anime Features        Movie        18
Anime Series          TV Show     145
British TV            TV Show     192
Children              Movie       475
Classic               TV Show      21
Classic Movies        Movie        69
Comedies              Movie      1068
Crime TV              TV Show     314
Cult Movies           Movie        11
Documentaries         Movie       386
Docuseries            TV Show     100
Dramas                Movie      1378
Horror Movies         Movie       244
Independent Movies    Movie        20
International Movies  Movie       113
International TV      TV Show     666
Kids                  TV Show     325
LGBTQ Movies          Movie         1
Music                 Movie        17
Reality TV            TV Show      70
Romantic Movies       Movie         3
Romantic TV           TV Show      28
Sci-Fi                Movie        11
Spanish-Language      TV Show       2
Sports Movies         Movie         1
Stand-Up              Movie       320
                      TV Show      28
TV Action             TV Show      36
TV Comedies           TV Show     110
TV Dramas             TV Show      62
TV Horror             TV Show      10
TV Sci                TV Show       1
TV Shows              TV Show       8
Thrillers             Movie        49
Uncategorized         Movie        52
Name: type, dtype: int64